<head>
    <link rel="stylesheet" href="/css/greeting.css">
</head>
<form action="/greet" method="post">
    <input type="text" name="name" placeholder="Type any name here" value="" required=""></input>
    <input type="submit" name="" value="Greet Me"></input><br><br>

    <input type="radio" name="Language" value="Hello, " required="">
    <label>English</label>
    <input type="radio" name="Language" value="Molo, " required="">
    <label>IsiXhosa</label>
    <input type="radio" name="Language" value="More, " required="">
    <label>Afrikaans</label><br><br>

    <a href="/greeted">Greeted names</a>

    <h1>
      {{languageGreet}}
    </h1>
    <h2>{{counter}}</h2>



    <ul>
        {{#greets}}
            <li>{{this.name}}</li>
        {{/greets}}
    </ul>

</form>
<a href="/reset"><button  value="Reset">Reset</button>
</a>
