<head>
    <link rel="stylesheet" href="/css/reg.css">
</head>
<form action="/" method="post">
    <!-- <input type="text" name="name" placeholder="Type any name here" value="" required=""></input> -->
    <h5>Registration numbers</h5>
    <input type="text" id="inpBox" placeholder="Type any name here" name="name" value="" required=""></input><br><br>

    <div class="optBtn">
        <input type="radio" name="Registration" value="CA" id="capetown">Cape Town <br>
        <input type="radio" name="Registration" value="CY" id="belville"> Belville <br>
        <input type="radio" name="Registration" value="CJ" id="paarl">Paarl
        <input type="radio" name="Registration" value="All" id="all">All<br><br>
        <button type="submit" name="" required="">Add</button>
    </div>


    <ul>

        {{#each reg}}
            <li class="regNUMBERS">{{this.name}}
            </li>

        {{/each}}
    </ul>
</form>
